#filters {
    width: 180px;
    padding: 20px 20px 20px 0;
    margin-right: 20px;
    margin-top: 20px;
}
#products-list {
    padding: 20px 20px 20px 0;
}
.filter {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}
.products {
    padding-left: 0;
}
.products li {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    border-image: none;
    border-color: #eee;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
}
.products .phone {
    border-left-color: #f0ad4e;
}
.products .laptop {
    border-left-color: #d9534f;
}
.products .toy {
    border-left-color: #337ab7;
}
.products .book {
    border-left-color: #5cb85c;
}            
.loading {
    background: url("http://gerardluskin.com/city/service/ajax-loader.gif") 0 36px no-repeat; 
    height: 100px;
}
